@font-face {
    font-family: e-Ukraine-R;
    src: url('/fonts/e-Ukraine/e-Ukraine-Regular.otf') format('opentype');
}
@font-face {
    font-family: e-Ukraine-Head-R;
    src: url('/fonts/e-Ukraine Head/e-UkraineHead-Regular.otf') format('opentype');
}

::selection {
    background: #383838;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #fd1f4a;
}

::-webkit-scrollbar-track {
    background-color: #000000;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #000000;
    color: #ffffff;
    font-family: e-Ukraine-R;
}

.main {
    padding: 0 20px 0 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: e-Ukraine-Head-R;
    color: #fd1f4a;
    font-size: 23px;
    padding: 5px 20px 50px 20px;
}

.header-items-container {
    display: flex;
    justify-content: space-between;
}

.logo, .header-item {
    cursor: pointer;
    transition: all .15s;
}

.header-item:hover {
    color: #cc0f35;
}

.user-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 25px; */
}

.first-data {
    display: flex;
    flex-direction: column;
    font-family: e-Ukraine-Head-R;
}

.second-data {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.bio-title {
    font-family: e-Ukraine-Head-R;
    padding-bottom: 10px;
}

.bio-cont {
    border: 2px solid #fd1f4a;
    color: #ffffff;
    border-radius: 20px;
    padding: 10px;
    width: 335px;
    font-size: 22px;
    text-align: right;
    margin-bottom: 15px;
}

.main-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.photo {
    width: 165px;
    height: 165px;
    background: #383838;
    border-radius: 25px;
    margin-bottom: 12.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.hello-settings {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.hello-settings2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.username {
    color: #fd1f4a;
}

h2 {
    margin-right: 5px;
}

.note {
    font-size: 20px;
}

.note-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
}

.note-circle {
    border-radius: 20px;
    padding: 5.5px;
    color: #ffffff;
    /* background: #fd1f4a; */
    border: 2px solid #fd1f4a;
    margin-right: 5px;
    font-family: e-Ukraine-R;
}

.bio-title {
    color: #ffffff;
}

.settings-img {
    width: 27px;
}

.search-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.add-friend {
    background: #fd1f4a;
    color: #000000;
    border: none;
    width: 25px;
    height: 25px;
    font-size: 21px;
    border-radius: 5px;
    cursor: pointer;
}

.your-friend {
    background: #fd1f4a;
    color: #000000;
    padding: 5px;
    border-radius: 20px;
}

.friends-list-title {
    padding-bottom: 10px;
}

.friends-cont {
    display: flex;
    flex-direction: column;
    width: 335px;
    /* background: #fd1f4a; */
    /* background: radial-gradient(#fd1f4a, #fd1f4a); */
    border: 2px solid #fd1f4a;
    color: #ffffff;
    padding: 10px;
    border-radius: 20px;
    font-size: 22px;
}

.key-value {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 7px;
}

.key-value-none {
    text-align: right;
}

.value-link {
    color: #ffffff;
    transition: all .15s;
}

.value-link:hover {
    color: #a0a0a0;
    text-decoration: none;
}

.search-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search {
    background: transparent;
    border: none;
    border-bottom: 2px solid #fd1f4a;
    outline: none;
    color: #ffffff;
    font-size: 18px;
    width: 235px;
    margin-right: 5px;
    text-align: center;
}

.search::placeholder {
    color: #fd1f4a;
    opacity: 75%;
}

.search-btn {
    background: transparent;
    border: none;
}

.search-img {
    width: 20px;
    cursor: pointer;
}

.more-friends {
    text-align: center;
    color: #ffffff;
    padding: 3px;
    border: 2px solid #fd1f4a;
    border-radius: 20px;
    margin-top: 10px;
    transition: all 0.2s;
}

.more-friends:hover {
    background: #fd1f4a;
    color: #000000;
}

.more-friends-link {
    text-decoration: none;
}

.add-post-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
}

.add-post {
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #fd1f4a;
    border-radius: 20px;
    padding: 5.5px;
    margin-right: 5px;
    transition: all .15s;
}

.add-post:hover {
    background: #fd1f4a;
    color: #000000;
}

.add-post-text {
    font-size: 20px;
}

.my-posts {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #fd1f4a;
    padding: 10px;
    border-radius: 20px;
    width: 30%;
    flex-basis: calc(30% - 10px);
    margin-bottom: 10px;
}

.post > h2 {
    margin-bottom: 10px;
}

.post > p {
    margin-bottom: 15px;
}

hr {
    border: 1px solid #fbbd0d;
    margin: 15px 0 15px 0;
}

.text {
    padding: 5px 5px 5px 7.5px;
    background-color: #222222;
    border-left: 2px solid #fbbd0d;
    border-radius: 0 20px 20px 0;
}

.description {
    padding: 5px 5px 5px 7.5px;
    background-color: #222222;
    border-left: 2px solid #fd1f4a;
    border-radius: 0 20px 20px 0;
}

.no-posts {
    color: #fbbd0d;
}

.data {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    color: #a0a0a0;
}

.delete {
    color: #fd1f4a;
    cursor: pointer;
}