@font-face {
    font-family: e-Ukraine-R;
    src: url('/fonts/e-Ukraine/e-Ukraine-Regular.otf') format('opentype');
}
@font-face {
    font-family: e-Ukraine-Head-R;
    src: url('/fonts/e-Ukraine Head/e-UkraineHead-Regular.otf') format('opentype');
}

::selection {
    background: #383838;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #eb9fef;
}

::-webkit-scrollbar-track {
    background-color: #000000;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #000000;
    color: #fecee9;
    font-family: e-Ukraine-R;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: e-Ukraine-Head-R;
    color: #eb9fef;
    font-size: 23px;
    padding: 5px 20px 50px 20px;
}

.header-items-container {
    display: flex;
    justify-content: space-between;
}

.logo, .header-item {
    cursor: pointer;
    transition: all .45s;
}

.header-item:hover {
    color: #fecee9;
}

.search-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search {
    background: transparent;
    border: none;
    border-bottom: 2px solid #eb9fef;
    outline: none;
    color: #eb9fef;
    font-size: 18px;
    width: 222px;
    margin-right: 5px;
}

.search::placeholder {
    color: #eb9fef;
    opacity: 75%;
}

.search-btn {
    background: transparent;
    border: none;
}

.search-img {
    width: 20px;
    cursor: pointer;
}